.container {
    padding: 20px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 20px;
}