.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  padding: 12px;
  text-align: center;
  background-color: #f8f8f8;
  cursor: pointer;
}

.image {
  width: 100px;
  height: 100px;
}

.name {
  text-transform: capitalize;
  font-size: 16px;
  margin: 8px 0;
}